ion-label {
  font-size: 42px;
}

ion-chip{
  margin-top: 15px;
  padding-inline: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  justify-content: center;
  border-width: 3px;
}

h2 {
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
