<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button color="light" (click)="zerar()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title> <h2>Clique em algum dos botões:</h2></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-text-center">
        <ion-button color="success" (click)="somar()">Soma 1</ion-button>
        <ion-button color="danger" (click)="subtrair()">Subtrai 1</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-chip [color]="num <= 0 ? 'danger' : 'success'" outline="true">
      <ion-label>{{ num }}</ion-label>
    </ion-chip>
  </div>
</ion-content>
